section.categories{
	margin-bottom: 80px;
	header.block{
		margin-bottom: 20px;
	}
	
	.category{
		height: 180px;
		width: 24%;
		margin-left: 0.5%;
		margin-right: 0.5%;
		margin-bottom: 1%;
		float:left;
		border: solid 1px $tumehall;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		opacity: 0.8;
		background-size: cover;
		background-position: center center;
		&.lightbox{
			border:none;
		}
		&.ref{
			.logo{
				margin-bottom: 40px;
				background-size: contain;
				background-position: center center;
				height: 140px;
				background-repeat: no-repeat;
			}
		}
		&:hover{
			opacity: 1;
		}
		h1{
			background-color: #fff;
			text-align: center;
			text-decoration: none;
			height: 45px;
			position: absolute;
			width: 100%;
			bottom:0px;
			left:0px;
			font-size: 0.8em;
			font-weight: normal;
			text-transform: uppercase;
			line-height: 45px;
			margin: 0;
			padding: 0;
			color: $tumedamhall;
			font-family: 'source_sans_probold';
		}
	}
}